@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0, 0%, 100%;
    --foreground: 216, 18%, 19%;

    --primary: 228, 78%, 58%;
    --secondary-primary: 228, 53%, 30%;
    --muted-primary: 228, 85%, 83%;

    --greyscale: 220, 30%, 96%;
    --foreground-greyscale: 216, 18%, 19%;
    --seconday-greyscale: 0, 0%, 38%;
    --muted-greyscale: 219, 11%, 61%;

    --error: 0, 90%, 57%;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}
